<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
  
    <title>Dinas Pendidikan bolaang mongondow</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
  
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <!-- <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet"> -->
  
    <!-- Vendor CSS Files -->
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="assets/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  
  
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  
    <link href="assets/css/style.css" rel="stylesheet">
  
  </head>
  
  <body>
  
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top ">
      <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
  
        <div class="logoheader d-flex align-items-center">
          <img src="assets/img/logobolmong.png" alt="">
          <h1 class="logo"><a href="index.html">DINAS <br> PENDIDIKAN</a></h1>
        </div>
  
  
        <nav class="nav-menu d-none d-lg-block">
  
          <ul>
            <li class="active"><a href="index.html">Beranda</a></li>
  
            <li class="drop-down"><a href="#">Profil</a>
              <ul>
                <li><a href="tugasfungsi.html">Tugas dan Fungsi</a></li>
                <li><a href="sambutan.html">Sambutan Kepala Dinas</a></li>
                <li><a href="visimisi.html">Visi & Misi</a></li>
                <li><a href="struktur.html">Struktur Organisasi</a></li>
              </ul>
            </li>
  
            <li><a href="berita.html">Berita</a></li>
            <li><a href="agenda.html">Agenda</a></li>
            <li class="drop-down"><a href="#">Standar Pelayanan</a>
                  <ul>
                    <li class="drop-down"><a href="#">Bidang PAUD DIKMAS</a>
                      <ul>
                        <li><a href="pagesubmenu/bidangpaud/izinpembelajaran.html">Izin Pembelajaran Luar Kelas</a></li>
                        <li><a href="pagesubmenu/bidangpaud/legalisasiijazah.html">Legalisasi Ijazah Nonformal</a></li>
                        <li><a href="pagesubmenu/bidangpaud/penggantiijazah.html">Pengganti Ijazah Nonformal</a></li>
                        <li><a href="pagesubmenu/bidangpaud/pembetulanijazah.html">Pembetulan Ijazah/SHUN</a></li>
                        <li><a href="pagesubmenu/bidangpaud/izinpendirian.html">Izin Pendirian</a></li>
                      </ul>
                    </li>
                    <li class="drop-down"><a href="#">Bidang SD</a>
                      <ul>
                        <li><a href="pagesubmenu/bidangsd/izinpembelajaran.html">Izin Pembelajaran Luar Kelas</a></li>
                        <li><a href="pagesubmenu/bidangsd/legalisasiijazah.html">Legalisasi Ijzah SD</a></li>
                        <li><a href="pagesubmenu/bidangsd/mutasisiswa.html">Mutasi Siswa SD</a></li>
                        <li><a href="pagesubmenu/bidangsd/penggantiijazah.html">Pengganti Ijazah</a></li>
                        <li><a href="pagesubmenu/bidangsd/pembetulanijazah.html">Pembetulan Ijazah/SHUN</a></li>
                        <li><a href="pagesubmenu/bidangsd/izinpendirian.html">Izin Pendirian SD</a></li>
                      </ul>
                    </li>
                    <li class="drop-down"><a href="#">Bidang SMP</a>
                      <ul>
                        <li><a href="pagesubmenu/bidangsmp/izinpembelajaran.html">Izin Pembelajaran Luar Kelas</a></li>
                        <li><a href="pagesubmenu/bidangsmp/legalisasiijazah.html">Legalisasi Ijzah SMP</a></li>
                        <li><a href="pagesubmenu/bidangsmp/mutasisiswa.html">Mutasi Siswa SMP</a></li>
                        <li><a href="pagesubmenu/bidangsmp/penggantiijazah.html">Pengganti Ijazah</a></li>
                        <li><a href="pagesubmenu/bidangsmp/pembetulanijazah.html">Pembetulan Ijazah/SHUN</a></li>
                        <li><a href="pagesubmenu/bidangsmp/izinpendirian.html">Izin Pendirian SMP</a></li>
                      </ul>
                    </li>
                    <li class="drop-down"><a href="#">Sekretariat</a>
                      <ul>
                        <li><a href="pelayanandata.html">Pelayanan Data</a></li>
                        <li><a href="aduanmasyarakat.html">Aduan Masyarakat</a></li>
                      </ul>
                    </li>
              </ul>
                </li>
                <li class="drop-down"><a href="#">GTK</a>
                  <ul>
                    <li><a href="pagesubmenu/GTK/usuljabatan.html">Usul Jabatan</a></li>
                    <li><a href="pagesubmenu/GTK/sertifikasiguru.html">Sertifikasi Guru</a></li>
                    <li><a href="pagesubmenu/GTK/urusankepegawaian.html">Urusan Kepegawaian</a></li>
                    <li><a href="pagesubmenu/GTK/mutasi.html">Mutasi Antar Daerah</a></li>
                    <li><a href="pagesubmenu/GTK/izintugasbelajar.html">Izin dan Tugas Belajar</a></li>
                    <li><a href="pagesubmenu/GTK/pengajuancuti.html">Pengajuan Cuti</a></li>
                  </ul>
                </li>
                <li><a href="https://ppid.bolmongkab.go.id">PPID</a></li>
                <li><a href="galeri.html">Dokumentasi</a></li>
                <li><a href="kontak.html">Kontak</a></li>
              </ul>
  
        </nav><!-- .nav-menu -->
  
      </div>
    </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Berita Detail</h2>
          <ol>
            <li><a href="index.html">Home</a></li>
            <li>Berita Detail</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= berita detail Section ======= -->
    <section id="berita" class="berita">
      <div class="container" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-8 entries">

            <article class="entry entry-detail">

              <div class="entry-img">
                <img src="assets/img/berita/beritadisdik1.jpg" alt="" class="img-fluid">
              </div>

              <h2 class="entry-title">
                <a href="berita-detail.html">Dinas Pendidikan Bolmong Tindak Lanjuti Surat Edaran Mendikbud Terkait Batalnya Ujian Nasional.</a>
              </h2>

              <div class="entry-meta">
                <ul>
                  <li class="d-flex align-items-center"><i class="icofont-user"></i> <a href="berita-detail.html">admin</a></li>
                  <li class="d-flex align-items-center"><i class="icofont-wall-clock"></i> <a href="berita-detail.html"><time datetime="2020-01-01"> 26-03-2020</time></a></li>
                </ul>
              </div>

              <div class="entry-detail">
                <p>
                  Bolmong,- Pemerintah Kabupaten Bolaang Mongondow (Bolmong) Dinas Pendidikan akan segera menindaklanjuti Surat Edaran (SE) Menteri Pendidikan dan Kebudayaan (Mendikbud) Republik Indonesia.

                  Hal ini  terkait dengan dibatalkanya pelaksanaan ujian Nasional, akibat dampak Corona Virus Disease 19 (Covid-19).
                  <br><br>
                  Kepala Dinas Pendidikan Kabupaten Bolaang Mongondow Renti Mokoginta, SPd, MAP menyatakan akan segera menindaklanjuti Surat Edaran yang diterbitkan Mendikbud, Nadiem Makarim.

                  Renti menuturkan terkait dengan penangan Covid-19, Dinas Pendidikan Bolmong, telah terlebih dahulu mengambil langkah dengan meliburkan anak sekolah beserta dengan tenaga guru pengajar.
                  
                  “Dengan daring dan modul-modul  untuk siswa yang desa terpecil terkait, dengan kelulusan  kls 6 SD dan kls 9 SMP tetntu berdasarkan SE kemendikbud,” jelas Kadis Penddikan Bolmong.
                  <br><br>
                  Seperti diketahui, Tindak lanjut yang dilakukan Dinas Pendidikan Bolmong, berdasarkan dengan Surat Edaran Nomor 4 Tahun 2020, Tentang Pelaksanaan Kebijakan Pendidikan Dalam Masa Darurat Penyebaran Coronavirus Disease 19 (Covid-19)

                  Salah satu dalam Surat Edaran Kemendikbud adalah, Sehubungan dengan Ujian Nasional tahun 2020 yang dibatalkan, termasuk Uji Kompetensi Keahlian 2020 Bagi Sekolah Menengah Kejuruan (SMK)
                  
                  Dalam isi Surat Edaran itu juga tertuang, dengan dibatalkannya Ujian Nasional Tahun 2020, maka Keikutsertaan UN tidak menjadi syarat kelulusan atau seleksi masuk jenjang pendidikan lebih tinggi.
                </p>
              </div>

              <div class="entry-footer">
                <i class="bi bi-folder"></i>
                <ul class="cats">
                  <li><a href="#">Umum</a></li>
                </ul>

                <i class="bi bi-tags"></i>
                <ul class="tags">
                  <li><a href="#">Umum</a></li>
                </ul>
              </div>

            </article><!-- End berita entry -->

          </div><!-- End berita entries list -->

          <div class="col-lg-4">

            <div class="sidebar">

              <h3 class="sidebar-title">Cari</h3>
              <div class="sidebar-item search-form">
                <form action="">
                  <input type="text">
                  <button type="submit"><i class="bi bi-search"></i></button>
                </form>
              </div><!-- End sidebar search formn-->

              <h3 class="sidebar-title">Kategori</h3>
              <div class="sidebar-item categories">
                <ul>
                  <li><a href="#">Umum <span>(0)</span></a></li>
                  <li><a href="#">Khusus <span>(4)</span></a></li>
                </ul>
              </div><!-- End sidebar categories-->

              <h3 class="sidebar-title">Lainnya</h3>
              <div class="sidebar-item recent-posts">
                <div class="post-item clearfix">
                  <img src="assets/img/berita/beritadisdik2.jpg" alt="">
                  <h4><a href="berita-detail.html">Mulai Hari ini Guru – Guru di  Bolmong Selama Satu Minggu Bekerja Dari Rumah</a></h4>
                  <time datetime="2020-01-01">23-03-2020</time>
                </div>

                <div class="post-item clearfix">
                  <img src="assets/img/berita/beritadisdik3.jpg" alt="">
                  <h4><a href="berita-detail.html">Dinas Pendidikan Sosialisasi Pencairan Dana BOS 2020</a></h4>
                  <time datetime="2020-01-01">17-06-2020</time>
                </div>

                <div class="post-item clearfix">
                  <img src="assets/img/berita/beritadisdik4.jpg" alt="">
                  <h4><a href="berita-detail.html">Dinas Pendidkan Bolmong Gelar Kompetisi Siswa Nasional Tingkat Kabupaten</a></h4>
                  <time datetime="2020-01-01">12-03-2020</time>
                </div>


              </div><!-- End sidebar recent posts-->

              <h3 class="sidebar-title">Tags</h3>
              <div class="sidebar-item tags">
                <ul>
                  <li><a href="#">Umum</a></li>
                  <li><a href="#">Khusus</a></li>
                </ul>
              </div><!-- End sidebar tags-->

            </div><!-- End sidebar -->

          </div><!-- End berita sidebar -->

        </div>

      </div>
    </section><!-- End berita detail Section -->

  </main><!-- End #main -->

 <!-- ======= Footer ======= -->
 <section id="footer" className="text-center">


  <div className="container">
    <div className="row">
      <div className="col-md-12 col-sm-6 col-xs-12">
        <p>Dinas Perencanaan Pembangunan Daerah Kabupaten Bolaang Mongondow</p>
        <p className="copyright-text">Copyright &copy; 2021 by  <a href="#"> E-Government</a> Diskominfo</p>
      </div>
    </div>
  </div>
  
</section>

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/purecounter/purecounter.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>

  <!--Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>